<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender ename="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param ename="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%t][%X{LOGID}]%m%n"/>
        </layout>
    </appender>
    <appender ename="INFO_BIZ" class="org.apache.log4j.DailyRollingFileAppender">
        <param ename="file" value="D:/tmp/info.log"/>
        <param ename="datePattern" value="'.'yyyy-MM-dd"/>
        <param ename="immediateFlush" value="true"/>
        <param ename="bufferedIO" value="false"/>
        <param ename="bufferSize" value="2048"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param ename="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%p][%X{LOGID}]%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param ename="levelMin" value="INFO"/>
            <param ename="levelMax" value="INFO"/>
        </filter>
    </appender>
    <appender ename="WARN_BIZ" class="org.apache.log4j.DailyRollingFileAppender">
        <param ename="file" value="D:/tmp/warn.log"/>
        <param ename="datePattern" value="'.'yyyy-MM-dd"/>
        <param ename="immediateFlush" value="true"/>
        <param ename="bufferedIO" value="false"/>
        <param ename="bufferSize" value="2048"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param ename="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%p][%X{LOGID}]%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param ename="levelMin" value="WARN"/>
            <param ename="levelMax" value="WARN"/>
        </filter>
    </appender>

    <appender ename="asyncInfoLog" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="INFO_BIZ"/>
    </appender>

    <appender ename="asyncWarnLog" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="WARN_BIZ"/>
    </appender>
    <!--<root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="asyncBizLog"/>
        <appender-ref ref="asyncWarnLog"/>
    </root>-->

    <!--冲突的时候具有高优先级，包名优先级没它高-->
    <logger ename="syslog">
        <level value="WARN"/>
        <appender-ref ref="asyncInfoLog"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger ename="com.unionpay.a">
        <level value="INFO"/>
        <appender-ref ref="asyncInfoLog"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger ename="com.unionpay.b">
        <level value="INFO"/>
        <appender-ref ref="asyncInfoLog"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</log4j:configuration>